body {
    background-color: #E2E8F0;
}

h1 {
    margin: 20px;
    text-align: center;
    font-family: 'Arvo', serif;
    font-family: 'Montserrat', sans-serif;
}

img {
    transform: scale(0.5);
}

.change-style {
    width: 200px;
    margin: 50px;
    display: inline-block;
}

.text {
    font-size: 3rem;
}